<!DOCTYPE html>
<html>

<head>
    <title>
        Project 1
    </title>
    <meta charset="utf-8">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src="script.js" defer> </script>
</head>

<body>
    <div id="app">
        <div>
            <p>Heads or Tails Chose a side, heads or tails. if the coin lands on your choice, you win</p>

            <input v-on:click='playerSelection="heads"' id="heads" type="radio" value="heads" v-model='playerSelection'>
            <input v-on:click='playerSelection="tails"' id="tails" type="radio" value="tails" v-model='playerSelection'>

            <br />
            <br />
            <button @click='flip'>Flip </button>

            <br />
            <br />
            <label> the coin landed on <b> {{ tossResult }} </b> , {{ winner }} </label>

            <br />
            <br />
            <label> <b> Score: </b> </label>

            <br />
            <label> Player: {{ playerScore }} </label>

            <br />
            <label> Computer: {{ computerScore }} </label>

            <br />
            <br />
            <label> Round Count: {{ roundCount }} </label>

            <br />
            <br />
            <label> Player Selected: {{ playerSelection }} </label>
            <br />
            <label> Coputer Selected: {{ computerSelection }} </label>

            <br />
            <br />
            <label> Toss Result: {{ tossResult }} </label>

            <br />
            <br />
            <label> <b>History: </b></label>

            <br />
            <ul>
                <li v-for="history in Histories">
                    {{history}}
                </li>
            </ul>

            <!-- Component for History -->
            <!-- <div id='app' v-cloak>
                <round-detail></round-detail>
            </div> -->

            <!-- <script type='text/x-template' id='round-detail'>
                <div v-if='!deleted'>
                    <ul>
                        <li>Round #: TBD</li>
                        <li>Winner: TBD</li>
                    </ul>
                    <button @click='deleteRound'>Delete round</button>
                </div>
            </script> -->

            <!-- TEMPLATE FOR OUR COMPONENT -->
            <script type='text/x-template' id='round-detail'>
                <div v-if='!deleted'>
                    <ul>
                        <li>Round #: {{ number }}  </li>
                        <li>Winner: {{ winner }}</li>
                    </ul>
                    <button @click='deleteRound'>Delete round</button>
                </div>
            </script>

            <!-- TEMPLATE FOR OUR ROOT VUE INSTANCE -->
            <!-- <div id='app' v-cloak>
                <div id='app' v-cloak>
                    <round-detail number=1 winner='Player'></round-detail>
                    <round-detail number=2 winner='Player'></round-detail>
                    <round-detail number=3 winner='Computer'></round-detail>
                </div>
            </div> -->

            <div id='app' v-cloak>
                <round-detail 
                    v-for='round in rounds' 
                    v-bind:key='round.number' 
                    v-bind:number='round.number' 
                    v-bind:winner='round.winner'>
                </round-detail>
            </div>

            <br />
            <button @click="reset(Histories.length)">Reset</button>
        </div>
    </div>
</body>

</html>