<!DOCTYPE html>
<html>

<head>
    <title>
        Project 1 ( Component Applied )
    </title>
    <meta charset="utf-8">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src="script.js" defer> </script>
</head>

<body>
    <div id="app">
        <div>
            <p>Heads or Tails Chose a side, heads or tails. if the coin lands on your choice, you win</p>

            <input v-on:click='playerSelection="heads"' id="heads" type="radio" value="heads" v-model='playerSelection'>
            <input v-on:click='playerSelection="tails"' id="tails" type="radio" value="tails" v-model='playerSelection'>

            <br />
            <br />
            <button @click='flip'>Flip </button>

            <br />
            <br />
            <label> the coin landed on <b> {{ tossResult }} </b> , {{ winner }} </label>

            <br />
            <br />
            <label> <b> Score: </b> </label>

            <br />
            <label> Player: {{ playerScore }} </label>

            <br />
            <label> Computer: {{ computerScore }} </label>

            <br />
            <br />
            <label> Round Count: {{ roundCount }} </label>

            <!-- <br />
            <br />
            <label> Player Selected: {{ playerSelection }} </label>
            <br />
            <label> Coputer Selected: {{ computerSelection }} </label> -->

            <!-- <br />
            <br />
            <label> Toss Result: {{ tossResult }} </label> -->

            <br />
            <br />
            <label> <b>History: </b></label>

            <br />
            <div id='app' v-cloak>
                <round-detail 
                v-for='history in Histories' 
                v-bind:key='history.key' 
                v-bind:history='history'>
                </round-detail>
            </div>

            <br />
            <button @click="reset(Histories.length)">Reset</button>
        </div>
    </div>
</body>

</html>